html, body {
    font-family: 'Oswald', sans-serif;
}

.indent {
    margin-left: 35px;
}

/* EXAMPLE 1 */
.box {
    width: 100px;
    height: 100px;
    background-color: #b4da55;
    transition-property: width, background-color;
    transition-duration: 2s;
    text-align: center;
}

.box:hover {
    width: 300px;
    background-color: #e84610;
}

#hovertext {
    padding-top: 35px;
}

/* CHALLENGE 1 */
a {
    color: red;
    transition-property: color;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

a:hover {
    color: #000;
}

/* CHALLENGE 2 */
.ch2box {
    width: 150px;
    height: 150px;
    background-color: #79797f;
    transition-property: background-color;
    transition-delay: 1s;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    text-align: center;
}

.ch2box:hover {
    background-color: #e84610;
}

#ch2box-hovertext {
    padding-top: 50px;
}

/* EXAMPLE 2 */
#ex2 {
    height: 225px;
}

.ex2box {
    background-color: #000;
    width: 150px;
    height: 0;
    animation-name: growing;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes growing {
    from {
        height: 0;
    }
    to {
        height: 150px;
    }
}

/* CHALLENGE 3 */
#ch3 {
    height: 275px;
}

.ch3box {
    position: relative;
    background-color: #0799d3;
    border-radius:50%;
    width: 100px;
    height: 100px;
    top: 0px;
    animation-name: jump;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes jump {
    from {
        top: 0;
    }
    to {
        top: 100px;
    }
}

/* EXAMPLE 3 */
#ex3 {
    height: 300px;
}

.ex3box {
    width: 100px;
    height: 100px;
    background-color: #e84610;
    transform: translate(0px, 0px);
    animation: swap;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes swap {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(100px, 100px);
    }
}

/* CHALLENGE 4 */
#ch4 {
    height: 490px;
}

#ch4img {
    border: 1px solid black;
    border-radius: 5px;
    transform-origin: top left;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

#ch4img:hover {
    transform: scale(2.0);
}

/* CHALLENGE 5 */
#ch5 {
    height: 350px;
}

#ch5img {
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    animation: spin;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}